---
apiVersion: v1
kind: Secret
metadata:
  name: trello-notifier-secret
stringData:
  TRELLO_API_KEY: "#{ trello_notifier.trello_api_key }#"
  TRELLO_TOKEN: "#{ trello_notifier.trello_token }#"
  LINE_CHANNEL_ACCESS_TOKEN: "#{ trello_notifier.line_channel_access_token }#"
  LINE_CHANNEL_SECRET: "#{ trello_notifier.line_channel_secret }#"
